@if (state.players()) {
  <app-players [players]="state.players()!"></app-players>
}

@if (!state.players()) {
  <button [disabled]="state.inProgress()" (click)="recursiveLoaderService.getRandomPlayers()">
    Wyznacz atrybuty graczy
  </button>
  @if (state.inProgress()) {
    <button (click)="recursiveLoaderService.cancelLoading()">Anuluj</button>
  }
} @else if (!state.players()!.two.starship) {
  <button [disabled]="state.inProgress()" (click)="recursiveLoaderService.getRandomStarships()">
    Wyznacz atrybuty statków
  </button>
  @if (state.inProgress()) {
    <button (click)="recursiveLoaderService.cancelLoading()">Anuluj</button>
  }
} @else if (!state.isFinished()) {
  <button [disabled]="state.inProgress()" (click)="gameService.getWinner()">
    Wyznacz zwycięzcę
  </button>
} @else {
  <button (click)="gameService.playAgain()">Zagraj ponownie</button>
  <button (click)="gameService.downloadScores()">Pobierz wyniki</button>
  <button (click)="gameService.clearScores()">Wyczyść wyniki</button>
}

@if (state.inProgress()) {
  <p>trwa pobieranie...</p>
  @if (state.errors().length) {
    <div class="errors">
      <p>Liczba błędów: {{ state.errors().length }}</p>
      @for (error of state.errors(); track $index) {
        <p>{{ error }}</p>
      }
    </div>
  }
}
